html {
    margin: 5px;   
}

body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: rgb(34, 34, 34);
    margin: 0;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0px auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.foto-principal {
    width: 150px;
    border: 2px solid #ffffff; 
    border-radius: 30%;
    margin: 30px 30px 0;
    padding: 3px;
    background-color: #1115ffab;
    box-shadow: 0px 0px 10px #1115ffab;
   
}

h1 {
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(92, 87, 87);
    font-weight: 100;
    letter-spacing: -1px;
}

p {
    line-height: 25px;
    margin: 5px;
}

.social-links {
    text-decoration: none;
}

.social-icons {
    width: 20px;
}

.github {
    margin: 0 15px 0 15px;
}

.footer {
    margin-top: 40px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
}
